table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .buttonsTrade{
    display: flex;
    button{
        margin: 0 0.5rem
    }
  }
  .containerTableCryptos{
    margin: 0 0.5rem;
  }
  .filtro{
    color: white;
  }
  .tableCrypto{
    width: 100%;
  }