<div class="containerCheckout">
    <div class="username">
        <h1>{{usuario.username}}</h1>
    </div>
    <div class="nameCrypto">
        <label for="name">{{(data.crypto_name).toUpperCase()}}</label>
        <label for="asset">{{data.asset}}</label>
    </div>
    <div class="nameCrypto">
        <label for="price">Precio:</label>
        <label for="value">{{data.value}} $</label>
    </div>
    <div class="nameCrypto">
        <label for="stock">Stock:</label>
        <label for="value">{{data.stock}}</label>
    </div>
    <div class="nameCrypto">
        <label for="balance">Tu Saldo:</label>
        <label for="value">{{usuario.deposit}} $</label>
    </div>
    <div class="nameCrypto">
        <label for="buy/sell">Comprar/Vender:</label>
        <input matInput placeholder="0" [(ngModel)]="inputValue" onFocus="if (this.value==0) this.value='';">
    </div>
    <div class="nameCrypto">
        <label for="tusmonedas">Tus Monedas:</label>
        <label for="value">{{tusMonedas}}</label>
    </div>
    <div class="nameCrypto">
        <label for="total">Total:</label>
        <label for="value">{{inputValue*data.value}} $</label>
    </div>
    <div class="containerButton">
        <button mat-raised-button color="warn" [mat-dialog-close]="cerrarModal" [disabled]="inputValue == 0" *ngIf="type == 'buy'" (click)="comprarMonedas(data)">Comprar</button>
        <button mat-raised-button color="accent" [mat-dialog-close]="cerrarModal"[disabled]="inputValue == 0" *ngIf="type == 'sell'" (click)="venderMonedas(data)">Vender</button>
    </div>
</div>
