<div class="registroContainer">
    <div class="titulo">
       <h1>Registro</h1>
    </div>
     <form class="registroForm">
        <input type="text" class="emailInput" formControlName="email" placeholder="Introduce tu nombre de usuario">
        <input type="email" class="emailInput" formControlName="email" placeholder="Introduce tu email">
        <input type="password" class="passwordInput" formControlName="password" placeholder="Introduce tu contraseña">
        <button class="buttonRegistro">Registrarse</button>
     </form>
 </div>