<div class="containerCryptos">
    <div class="header">
        <div class="contenedorLogo">
            <img src="../../../../../assets/images/logo-no-background.png" alt="" class="logo">
        </div>
        <div class="nombreUser">
            <p>Bienvenido de nuevo {{usuario.username}}🤑</p>
        </div>
        <div class="balance">
            <p>Saldo: {{usuario.deposit}}$</p>
        </div>
    </div>
    <div class="dashboard">
        <div class="tablaCrypto">
            <app-crypto-table></app-crypto-table>
        </div>
        <div class="infoUser">
            <app-perfil-user></app-perfil-user>
        </div>
    </div>
</div>
